
.calc {
    display: flex;
    flex-direction: column;
    width: 35vw;
    /* outline: 2px solid black; */
    border-radius: 3px;
    justify-self: center;
    font-family: 'Courier New', Courier, monospace;
}

.calc .display {
    flex: 1;
    background-color: rgb(98, 98, 98);
    align-content: center;
    text-align: end;
    font-size: 60px;
    padding: 20px 10px 20px 10px;
    border: solid 10px black;
    border-radius: 10px;
    color: rgb(92, 255, 47);
}

/* gap size between each button */
.calc .buttons,
.input-block {
    gap: 20px
}

/* row class */
.calc .buttons {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

/* column class */
.input-block {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.calc .buttons button {
    flex: 1;
    width: auto;
    aspect-ratio: 1 / 1;
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5%;
}